@import 'variables'

//Sezione greeting
section.greeting
   background-color: cadetblue
   text-align: center
   margin: 0 auto

   .top-greeting
      padding: 20px

      h3
         padding: 20px

      p
         padding: 20px

   .bottom-greeting
      padding: 0

      h3
         color: #fff

      .pres-creatori
         padding: 15px

         .pres-singolo
            display: inline-block
            width: 40%
            margin: 0 auto
            padding: 10px
            margin-bottom: 40px

            .top-pres-singolo
               img
                  width: 100px
                  border-radius: 50%
                  margin-top: 20px

               h3
                  margin-top: 12px
                  color: #fff

            .bottom-pres-singolo
               padding: 5px
               border-top: 1px solid #fff


@media screen and (max-width: 768px)
   section.greeting .bottom-greeting .pres-creatori .pres-singolo
      width: 90%

      .bottom-pres-singolo
         padding: 0px
