@import 'variables'
@import 'header'
@import 'menu'
@import 'main-card'
@import 'votazioni'
@import 'greeting'

html
   height: 100%
   width: 100%
   margin: 0 auto

body
   margin: 0 auto
   font-family: 'Roboto', sans-serif
   font-size: 16px
   font-weight: 400
   -webkit-font-smoothing: antialiased
   height: 100%
   width: 100%
   background-color: $bg-color

h1, h2, h3, h4, h5, h6
   margin-top: 0
   font-weight: 500

.container
   width: 100%
   margin: 0 auto

//main-content
.main-content
   background-color: $bg-color

   h2
      text-align: center
      padding: 20px
      margin-bottom: 0
      color: $bg-top-card

   p
      margin-top: 0
      padding: 15px
      text-align: center
