//classi per testo
.uppercase
   text-transform: uppercase
.capitalize
   text-transform: capitalize

//letter spacing
.let-xs-small
   letter-spacing: 1px
.let-small
   letter-spacing: 3px
.let-med
   letter-spacing: 5px




// variabili per le carte
$bg-top-card: #3E4FB2
$text-top-card: #fff

$bg-middle-card: #fff
$text-middle-card: #777

$border-bottom-card: #ff2670
$btn-bottom-card: #ff2670
$text-bottom-card: #fff

//box-shadow
$box-shadow: 0px 5px 10px 0px rgba(50, 50, 50, 0.25)

$bg-total: #5bc0de
$bg-color: #eee

//Variabili Header
$bg-header: #87CEFA
$color-h1: #fff
$color-menu-icon: #fff

//Variabili Votazioni
$bg-rnd-film: #6495ED
