include includes/head

include includes/menu
include includes/header
include includes/card
include includes/add-card
include includes/greeting
include includes/votazioni

doctype html
+head
body
   
   +menu
   
   .container 
      +header
      .main-content
         h2.uppercase.let-med Aggiunta Film
         p Compila i campi qui sotto, per creare la tua card personale!
         .cont-carte
            +add-card
         +greeting
   
   script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" type="text/javascript")
   script(src="js/app.js" type="text/javascript")
