mixin card
   .main-card
      form(name="invia")
         .top-card
            h3 Matteo
         .middle-card
            .film-one
               label.best-movie Il Curioso Caso Di Benjamin Button
               .valori
                  span Value
                  select
                     option(value="10") 10
                     option(value="5") 5
                     option(value="1") 1
            .film-two
               label Film num-2
               .valori
                  span Value
                  select
                     option(value="10") 10
                     option(value="5") 5
                     option(value="1") 1
            .film-three
               label Film num-3
               .valori
                  span Value
                  select
                     option(value="10") 10
                     option(value="5") 5
                     option(value="1") 1
         .bottom-card
            button(type="submit" value="Vota") Vota

doctype html
head
   title Film Votation
   link(rel="stylesheet" href="css/main.css" type="text/css")
   meta(name="viewport" content="width=device-width, initial-scale=1")
body
   
   .menu
      .icon-close
         img(src="img/close.png")
      ul
         a(href="aggiungi.php"): li Aggiungi
         a(href="aggiungi.php"): li Reset
   
   .container 
      .header
         h1 Film Votation
         .menu-button Menu
         .nav
            ul#menu
               a(href="#"): li Aggiungi
               a(href="#"): li Reset
      .main-content
         +card  
         +card
         +card
         +card
   
   script(src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" type="text/javascript")
   script(src="js/app.js" type="text/javascript")
