mixin card
   .main-card.capitalize
      form(name="invia")
         .top-card
            h3.uppercase.let-xs-small Matteo
         .middle-card
            .film-one
               a(href="#")#film-one-text.capitalize Il Curioso Caso Di Benjamin Button
               .valori
                  span#film-one-value Value
                  select#film-one-select
                     option(value="10") 10
                     option(value="5") 5
                     option(value="1") 1
            .film-two
               a(href="#")#film-two-text.capitalize Film num-2
               .valori
                  span#film-two-value Value
                  select#film-two-select
                     option(value="10") 10
                     option(value="5") 5
                     option(value="1") 1
            .film-three
               a(href="#")#film-three-text.capitalize Film num-3
               .valori
                  span#film-three-value Value
                  select#film-three-select
                     option(value="10") 10
                     option(value="5") 5
                     option(value="1") 1
         .bottom-card
            button.btn-fucsia(type="submit" value="Vota") Vota
