mixin card
   .main-card
      form(name="invia")
         .top-card
            h3 Matteo
         .middle-card
            .film-one
               label.best-movie Il Curioso Caso Di Benjamin Button
               .valori
                  span Value
                  select
                     option(value="10") 10
                     option(value="5") 5
                     option(value="1") 1
            .film-two
               label Film num-2
               .valori
                  span Value
                  select
                     option(value="10") 10
                     option(value="5") 5
                     option(value="1") 1
            .film-three
               label Film num-3
               .valori
                  span Value
                  select
                     option(value="10") 10
                     option(value="5") 5
                     option(value="1") 1
         .bottom-card
            button.btn-fucsia(type="submit" value="Vota") Vota
