mixin card
   .main-card.capitalize
      form(name="invia")
         .top-card
            h3.uppercase.let-xs-small Matteo
         .middle-card
            .film-one
               a(href="#")#best-movie.capitalize Il Curioso Caso Di Benjamin Button
               .valori
                  span Value
                  select
                     option(value="10") 10
                     option(value="5") 5
                     option(value="1") 1
            .film-two
               a(href="#").capitalize Film num-2
               .valori
                  span Value
                  select
                     option(value="10") 10
                     option(value="5") 5
                     option(value="1") 1
            .film-three
               a(href="#").capitalize Film num-3
               .valori
                  span Value
                  select
                     option(value="10") 10
                     option(value="5") 5
                     option(value="1") 1
         .bottom-card
            button.btn-fucsia(type="submit" value="Vota") Vota
