mixin greeting
   section.greeting
      .top-greeting
         h3.uppercase.let-small Grazie per aver utilizzato Film Votation
         p Ora, lascia compilare questa card anche agli altri!
      .bottom-greeting
         h3.uppercase.let-small Applicazione creata da
         .pres-creatori
            //singolo componente Vero
            .pres-singolo
               .top-pres-singolo
                  img(src="/img/vero.jpg")
                  h3.uppercase.let-small Vero
               .bottom-pres-singolo
                  p Ideatore e Creatore del layout di Film Votation
            //singolo componente Pilat
            .pres-singolo
               .top-pres-singolo
                  img(src="/img/pilat.jpg")
                  h3.uppercase.let-small Pilat
               .bottom-pres-singolo
                  p Sviluppatore dell' applicazione, lato front-end e back-end
                  
