mixin menu
   .menu
      .icon-close
         img(src="img/close.png")
      ul
         a(href="index.html"): li Homepage
         a(href="aggiungi.html"): li Aggiungi
         a(href="#"): li Reset
