mixin votazioni
   .votazioni
      h2.uppercase.let-small La Decisione Finale
      .sez-random#rnd-nome
         .pres-random
            h4 Randomizzatore Nome Prescelto
            p Clicca il pulsante qui sotto per scoprire chi dovr&agrave; premere il pulsante che svelever&agrave; il film di questa sera!
         .btn-random
            button.btn-fucsia#btn-rnd-nome(type="button") Randomizza
         .testo-random
            h5#testo-rnd-nome Matteo!
      .sez-random#rnd-film
         .pres-random
            h4 Randomizzatore Film
            p Matteo, clicca il pulsante qu&igrave; sotto per scoprire che film, vedrete stasera!
         .btn-random
            button.btn-fucsia#btn-rnd-film(type="button") Randomizza
         .testo-random
            h5#testo-rnd-nome-film Matteo
            p#testo-rnd-film Il Curioso Caso Di Benjamin Button
